body {
    background-color: skyblue;
    border-top: dotted deeppink 10px;
    border-bottom: dotted deeppink 10px;
    border-left: dotted deeppink 10px;
    border-right: dotted deeppink 10px;

}
h1 {
    text-align: center;
    color: crimson;
}
b {
    color: darkgreen;
}