body {
    background: url("../cssday4/MEDI.webp") no-repeat ;
    background-size: contain;
    background-size: cover;

}
h1 {
    text-align: center;
    color: crimson;
}
#first {
    columns: 2;
}
#second {
    columns: 2;
}
#third {
    columns: 2;
}
#fourth {
    columns: 2;
}
#fifth {
    border-style:ridge;
    
}
